.main-header{
  top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 140px;              /* 縦幅140px */
}
#itemA{
  width: 50%;
  height: 100px;
  float: left;
  background-color: #ffdc00;
  display: flex;
  align-items: center;
  justify-content: left;
}
#volleyball{
  float: left;
  margin: 20px 20px 0px 15px;
}
.textstyle{
  float: left;
  color: #191970;
  margin: 30px 0px;
}
#itemB{
  width: 50%;
  height: 100px;
  float:left;
  background-color: #ffdc00; 
  text-align: right;
}
.menu-btn{
  background-color: transparent;
    border: 2px solid #191970;
    color: #191970;
    border-radius: 6px;
    font-size: 15px;
    line-height: 40px;
    margin: 25px 25px 2px 2px;
}
.menu-btn:hover {
  background-color: rgba(255, 255, 255, .2);
}
.dropdown-btn{
  background-color: transparent;
    border: 2px solid #191970;
    color: #191970;
    border-radius: 6px;
    font-size: 15px;
    margin: 25px 25px 2px 2px;
}
.dropdown-btn:hover{
   background-color: rgba(255, 255, 255, .2);
}
.sticky {
    position: -webkit-sticky; /* Safari用 */
    position:sticky; /* 要素をスクロールに応じて固定 */
    top:0; /* 縦スクロールに追従 */
    z-index: 100; /* z-indexで最前面に持ってくる */
}
.boxWrap{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  padding: 20px 20px 0px 0px; 
  width: 500px;
  height: 250px;
  background: #ffdc00;
  border-radius: 12px;
}
#form{
  text-align: center;
}
#color{
  color: #191970;
  text-align: center;
}
.formstyle{
  margin-top: 20px;
  width: 300px;
  height: 40px;
  border-radius: 6px;
}